<%- include('../port/layout-start', {title: title}) %>

<h1><%= title%></h1>
<div class="row">
  <div class="col-sm-8">
    <%- include('./form') %>
  </div>
</div>

<%- include('../port/layout-end') %>
